/* Import App.scss */
@import "../../App.css";
*{
  box-sizing: border-box;
}
.header {
  background: linear-gradient(180deg, rgb(16, 225, 79) 0%, rgb(66, 115, 200) 100%) !important;
}

.header .navbar{
  margin-top:50px;
}
.header img{
   width:200px;
   margin:50px 50px 50px 200px;
   z-index: 999;
}

@media screen and (max-width:576px) {
  
  .header img{
    width:100%;
    margin-top:50px;
    margin-bottom: 50px;
    margin-left:-20px;
    margin-right:50px;
 }
}

@media screen and (max-width:768px) and (min-width:576px) {
  .header img {
    width:75%;
    margin:50px 100px 40px -50px;
 }
}

@media screen and (max-width:1200px) and (min-width:768px) {
  .navbar{
    width:100%;
     margin-left: 20px;
  }
  .header img {
    width:75%;
    margin:50px 100px 10px 70px;
 }
}

@media  screen and (min-width:1200px) {
   .header img{
    width:50%;
    margin:50px 100px 10px 100px;
   }
}